.posts {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #e3e3e3;

  h1 {
    margin-top: 30px;
    color: #786bb4;
  }

  .my-posts {
    width: 70%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
